<!-- Footer -->
<footer>

<!-- Footer Links -->
<div class="container-fluid text-center text-md-center">


<!-- Grid row-->
<div class="row text-center d-flex justify-content-center pt-5 mb-3">

<!-- Grid column -->
<div class="col-md-4 mb-2">
  <h6 class="text-uppercase mr-auto">
    <a href="{% url 'aboutUs' %}">About Us</a>
  </h6>
</div>

<!-- Grid column -->
<div class="col-md-4 mb-2">
  <h6 class="text-uppercase mr-auto">
    <a href="{% url 'help' %}">Help</a>
  </h6>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4 mb-2">
  <h6 class="text-uppercase mr-auto">
    <a href="{% url 'contact' %}">Contact</a>
  </h6>
</div>
<!-- Footer Links -->
<!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="http://dipwinner.sg:8000"> dipwinner.sg</a>
  </div>
<!-- Copyright -->
</footer>
<!-- Footer -->