<nav class="navbar navbar-expand-lg navbar-light">
  <h6 class="text-uppercase font-weight-bold">
    <a class="navbar-brand" href="http://dipwinner.sg:8000">Real-Time Crowd Density Monitor</a> </h6>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://dipwinner.sg:8000">HOME</a><span class="sr-only">(current)</span> 
        </li>
        <li class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" h6 class="nav-link dropdown-toggle">LOCATIONS</a>
          <ul class="dropdown-menu">
            <!-- lvl 1 dropdown -->
            <li class="dropdown-submenu">
              <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Schools</a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'EEE' %}" class="dropdown-item">School of Electrical and Electronic Engineering</a></li>
                <li><a href="#" class="dropdown-item">Nanyang Business School</a></li>
                <li><a href="#" class="dropdown-item">Wee Kim Wee School of Communication and Information</a></li>
                <li><a href="#" class="dropdown-item">School of Civil and Environmental Engineering</a></li>
                  </ul>
                </li>
            <!-- lvl 1 dropdown -->
            <li class="dropdown-submenu">
              <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Facilities</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Canteen</a></li>
                <!--<li><a href="#" class="dropdown-item"></a></li>-->
                <li><a href="#" class="dropdown-item">Hall</a></li>
                <li><a href="{% url 'tutorialrooms' %}" class="dropdown-item">Tutorial Rooms</a></li>
                <li><a href="{% url 'trplus' %}" class="dropdown-item">Tutorial Rooms +</a></li>
                <!-- lvl 2 dropdown -->
                <li class="dropdown-submenu">
                  <!--<a href="#" role="button" class="dropdown-item">Facility</a>-->
                  </ul>
                </li>
              </ul>
            </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <script>
    $(function() {
      $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
        event.preventDefault();
        event.stopPropagation();
    $(this).parents('.dropdown-submenu').siblings().find('.show').removeClass("show");
    $(this).siblings().toggleClass("show");
     //collapse all after nav is closed
     $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
      $('.dropdown-submenu .show').removeClass("show");
});
});
});
</script>
