<script>
    /* comment later*/
    width = 500
    height = 500

    var ISPLOT = 0
    async function fetch_plot(){
        const response = await fetch('/api/plot/?w='+width+'&h='+height)
        var item = await response.json()
        Bokeh.embed.embed_item(item)
            ISPLOT = 1
    }
	fetch_plot()

    /* start timer */
    var locations = ["s2_b4"]
    var updateinterval = 3
    async function update_plot(location, idx, array){
        // update for each locations
        const response = await fetch(location)
        var item = await response.json()
        console.log(item)
        var ds = Bokeh.documents[0]
        console.log(ds)
    }
    setInterval(function(){locations.forEach(update_plot)}, 3000)
</script>