<script>
    /* comment later*/
    width = Math.min(window.screen.width-50, 1000)
    height = Math.min(width+100,700)
    
    var ISPLOT = 0
    async function fetch_plot(){
        const response = await fetch('/api/plot/?w='+width+'&h='+height+
            '&xl='+String({{xl}})+'&xr='+String({{xr}})+'&yl='+String({{yl}})+'&yr='+String({{yr}}))
        var item = await response.json()
        Bokeh.embed.embed_item(item)
            ISPLOT = 1
    }
	fetch_plot()

    /* start timer */
    var locations = ["s2_b4"]
    var updateinterval = 3
    async function update_plot(location, idx, array){
        // update for each locations
        const response = await fetch(location)
        var item = await response.json()
        // console.log(item)
        if(Bokeh.documents[0]){
            var ds = Bokeh.documents[0].get_model_by_name("target").data_source
            data = ds.data
            for (i = 0; i < data.x.length; i++) {
                data.O[i] = item[i].occupied
            }
            ds.change.emit()
            // console.log(ds)
        }
    }
    setInterval(function(){locations.forEach(update_plot)}, 2000)
</script>