{% extends "./_base.html"%} 
{% block head %}
<title>About Us</title>
{% endblock %}
{% block body %}

<img src="https://lh3.googleusercontent.com/proxy/eQp8RICD0zeDTtSti-9rtbWy2E2RTEJ87UonxP2O-SduHCaliVJ83OESMemBNYxdJYqkJitLKmwfnzkzX6p8Fnp3uotRhpRl0YMLO3lMyziEJu8G6yn_Wyk60jOHVw" alt="about us image" class="rounded mx-auto d-block">
<div>
<div>
    <h3>Welcome to the real time crowd density monitor.</h3>
</div>

<div>
    <h4>Who are we?</h4>
</div>

<div>
    <p class="lead justify text-break text-">
        We’re a group of students wanting to provide the best experience for staffs and students in NTU. Due to COVID-19 there is a need to prevent overcrowding which aligns to the Singapore Government’s advocacy on social distancing. Thus we have come up with a system to inform users of the current time capacity of locations conveniently through a website. This makes it more sustainable in complying with social distancing.
    </p>
</div>

<div>
    <h4>What is this project about?</h4>
    <p class="lead justify text-break text-">
        This project aims to introduce a Real Time Crowd Density Monitor using a Raspberry Pi. The Raspberry Pi is a small digital device capable of storing and processing images (with the aid of a high shuttle speed camera) then converting them into data using programming language instantaneously. This project not only eliminates the need for individuals to physically check in, it also provides up-to-the-minute information on the human crowd size.
    </p>
</div>
{% endblock %}
