{% extends "./_base.html"%} 
{% block head %}
<title>About Us</title>
{% endblock %}
{% block body %}
<div>
    <h3>Welcome to the real time crowd density monitor.</h3>
</div>
<div>
    <p class="lead justify text-break text-">
        We’re a group of students wanting to provide the best experience for staffs and students in NTU.
        <br>Crowd control is very important since the start of COVID-19 and we want to introduce to you what we can do to help everyone practice social distancing.
        <br>Rather than walking all the way from one end to another finding that your destination’s capacity has reach it’s maximum, users can check on the EXACT amount of people using our website with just one simple click using their smartphones.
    </p>
</div>
{% endblock %}
