{% extends "./_base.html"%} 
{% block head %}
<title>Contact</title>
{% endblock %}
{% block body %}
<!-- Insert Main Content Here-->
<img src="https://www.uobgroup.com/web-resources/in/images/carousel/contact-us/contact-us-472x332.jpg" 
    alt="contact us image" class="rounded mx-auto d-block">
<div>
    <h3>Contact</h3>
</div>

<body class="adder">
    <div id="container">
        <p class="adder">
                 
            Email:<a href="mailto:dipwinner037@gmail.com"> dipwinner037@gmail.com</a>
            <br>Under Guidance of Dr Law Choi Look from Nanyang Technological University
            <br><a href="https://en.wikipedia.org/wiki/HTTP_cookie">Cookies</a>
            <br><a href="https://policies.google.com/">Privacy & Terms</a>
        </p>
    </div>
</body>
{% endblock %}