<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Contact</title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon/">
    
    </head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://dipwinner.sg:8000">Real-Time Crowd Density Monitor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://dipwinner.sg:8000">Home</a><span class="sr-only">(current)</span>
            </li>
            
            <li class="nav-item dropdown">
        
              <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">Locations</a>
              <ul class="dropdown-menu">
    
                
                <!-- lvl 1 dropdown -->
                <li class="dropdown-submenu">
                  <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Schools</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'EEE' %}" class="dropdown-item">School of Electrical and Electronic Engineering</a></li>
                    <li><a href="#" class="dropdown-item">Nanyang Business School</a></li>
                    <li><a href="#" class="dropdown-item">Wee Kim Wee School of Communication and Information</a></li>
                    <li><a href="#" class="dropdown-item">School of Civil and Environmental Engineering</a></li>
                   
                  
                      </ul>
                    </li>
    
                <!-- lvl 1 dropdown -->
                <li class="dropdown-submenu">
                  <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Facilities</a>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">Canteen</a></li>
                    <li><a href="#" class="dropdown-item">Laboratories</a></li>
                    <li><a href="#" class="dropdown-item">Hall</a></li>
                    
                    <!-- lvl 2 dropdown -->
                    <li class="dropdown-submenu">
                      <a href="#" role="button" class="dropdown-item">Facility</a>
                  
      
                      </ul>
                    </li>
    
                    
                  </ul>
                </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      
      <!-- Footer -->
      <footer class="page-footer font-small blue">
      
      <!-- Footer Links -->
      <div class="container">

      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'aboutUs' %}">About Us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'details' %}">Details</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'awards' %}">Awards</a>
            </h6>
      </div>
      <!-- Grid column -->
      

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'help' %}">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'contact' %}">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    
  <!-- Footer Links -->
      <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="http://dipwinner.sg:8000"> dipwinner.sg</a>
        </div>
      <!-- Copyright -->
      </footer>
      <!-- Footer -->

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script>
        $(function() {
          $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
            event.preventDefault();
            event.stopPropagation();
        
        $(this).parents('.dropdown-submenu').siblings().find('.show').removeClass("show");
    
        $(this).siblings().toggleClass("show");
    
         //collapse all after nav is closed
         $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
          $('.dropdown-submenu .show').removeClass("show");
    });

  });
});
      </script>
</body>
</html>>
