{% extends "./_base.html"%} 
{% block head %}
<title>School of EEE</title>
{% endblock %}
{% block body %}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a class="text-muted" href="http://dipwinner.sg:8000">Home</a></li>
    <li class="breadcrumb-item"><a>School of EEE</a></li>
    <li class="breadcrumb-item active" aria-current="page">Communication Lab</li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row justify-content-center">  
        <div id="myplot" class="rounded mx-auto d-block"></div>
  </div>
</div>
{% endblock %}
{% block script %}
  {% include "./_js_plot.html" with xl=xl xr=xr yl=yl yr=yr %}
{% endblock %}
