<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title></title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon/">
    </head>
    
    <body>

        <!-- Footer -->
    <footer class="page-footer font-small blue">
      
    <!-- Footer Links -->
    <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

    <!-- Grid column -->
    <div class="col-md-2 mb-3">
      <h6 class="text-uppercase font-weight-bold">
        <a href="{% url 'aboutUs' %}">About Us</a>
      </h6>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 mb-3">
      <h6 class="text-uppercase font-weight-bold">
        <a href="{% url 'details' %}">Details</a>
      </h6>
    </div>
    <!-- Grid column -->
    
    <!-- Grid column -->
    <div class="col-md-2 mb-3">
      <h6 class="text-uppercase font-weight-bold">
        <a href="{% url 'help' %}">Help</a>
      </h6>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 mb-3">
      <h6 class="text-uppercase font-weight-bold">
        <a href="{% url 'contact' %}">Contact</a>
      </h6>
    </div>
    <!-- Grid column -->

  </div>
  
<!-- Footer Links -->
    <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="http://dipwinner.sg:8000"> dipwinner.sg</a>
      </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->

</body>
<html>