{% extends "./_base.html"%} 
{% block head %}
<title>HELP</title>
{% endblock %}
{% block body %}

<div>
    <h3>Frequently Asked Questions</h3>
</div>

<body class="adder">
    <div id="container">
        <p class="adder">
        
            Navigation methods
            <br>What happens if I cannot find the location I am searching for?
            <br>How relevant and accurate is the information presented?
            <br>For further queries, you may reach us at our <a href="mailto:dipwinner037@gmail.com"> email </a>
                or please click this <a href="mailto:dipwinner037@gmail.com">link</a> to submit a feedback.
        </p>
    </div>
</body>
    

{% endblock %}
 
  
