{% extends "./_base.html"%} 
{% block head %}
<title>About Us</title>
{% endblock %}
{% block body %}
<div class="w3-sidebar w3-bar-block" style="width:35%;right:0">
    <h5 class="w3-bar-item">Tutorial Rooms+ Options:</h5>
    <h6>SOUTH SPINE:</h6>
    <a href="#" class="w3-bar-item w3-button">TR61-TR69.</a>
    <a href="#" class="w3-bar-item w3-button">TR77-TR80 </a>
    <a href="#" class="w3-bar-item w3-button">TR87-TR96  </a>
    <a href="#" class="w3-bar-item w3-button">TR106-TR114 </a>
    <a href="#" class="w3-bar-item w3-button">TR122</a>
  
    <a href="#" class="w3-bar-item w3-button">TR151-TR154 </a>
    <a href="#" class="w3-bar-item w3-button">TR159-TR160  </a>
    <a href="#" class="w3-bar-item w3-button">TR165-TR166</a>
    <h6>SBS</h6>
    <a href="#" class="w3-bar-item w3-button">TR5-TR6 </a>
    <h6>SCBE:</h6>
    <a href="#" class="w3-bar-item w3-button">TR1-TR2</a>
    <h6>SPMS:</h6>
    <a href="#" class="w3-bar-item w3-button">TR1-TR20 </a>
     
  </div>
  
  <div style="margin-right:20%">
    
  <!--page content-->
  </div>
{% endblock %}