{% extends "./_base.html"%} 
{% block head %}
<title>TR+</title>
{% endblock %}
{% block body %}
<div>
  <div class="row">
   <nav class="col-md-3 d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
          <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Tutorial Rooms+ Options:</span>
          <a class="d-flex align-items-center text-muted" href="#">
          </a>
        </h5>
        <h6 class="d-flex justify-content-between align-items-center px-3 mt-1 mb-1">SOUTH SPINE:</h6>
         <a class="nav-link" href="#">TR61-TR69</a>
         <a class="nav-link" href="#">TR77-TR80</a>
         <a class="nav-link" href="#">TR87-TR96 </a>
         <a class="nav-link" href="#">TR106-TR114</a>
         <a class="nav-link" href="#">TR122</a>
         <a class="nav-link" href="#">TR151-TR154 </a>
         <a class="nav-link" href="#">TR159-TR160  </a>
         <a class="nav-link" href="#">TR165-TR166</a>
        <h6 class="d-flex justify-content-between align-items-center px-3 mt-1 mb-1">SBS:</h6>
         <a class="nav-link" href="#">TR5-TR6</a>
        <h6 class="d-flex justify-content-between align-items-center px-3 mt-1 mb-1">SCBE:</h6>
         <a class="nav-link" href="#">TR1-TR2</a>
        <h6 class="d-flex justify-content-between align-items-center px-3 mt-1 mb-1">SPMS:</h6>
         <a class="nav-link" href="#">TR1-TR20 </a>
      </div>
    </nav>
  </div>
</div>    
{% endblock %}