{% extends "./_base.html"%} 
{% block head %}
<title>Tutorial Rooms</title>
{% endblock %}
{% block body %}
<li class="dropdown-submenu">
  <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Tutorial Rooms</a>
    <ul class="dropdown-menu">
      <li><a href="#" class="dropdown-item"> TR1-TR8 </a></li>
      <li><a href="#" class="dropdown-item"> TR102-TR121 </a></li>
      <li><a href="#" class="dropdown-item"> TR201-TR216 </a></li>
      <li><a href="#" class="dropdown-item"> TR501-TR508 </a></li>
      <li><a href="#" class="dropdown-item"> TR701-TR722 </a></li>
      <li><a href="#" class="dropdown-item"> TR61-TR69 </a></li>
      <li><a href="#" class="dropdown-item"> TR77-TR80 </a></li>
      <li><a href="#" class="dropdown-item"> TR87-TR96 </a></li>
      <li><a href="#" class="dropdown-item"> TR106-TR114 </a></li>
      <li><a href="#" class="dropdown-item"> TR151-TR154 </a></li>
      <li><a href="#" class="dropdown-item"> TR159-TR160 </a></li>
      <li><a href="#" class="dropdown-item"> TR165-TR166 </a></li>
      <li><a href="#" class="dropdown-item"> TR5-TR6 </a></li>
      <li><a href="#" class="dropdown-item"> TR1-TR2 </a></li>
      <li><a href="#" class="dropdown-item"> TR1-TR20 </a></li>
    </ul>
{% endblock %}