{% extends "./_base.html"%} 
{% block head %}
<title>About Us</title>
{% endblock %}
{% block body %}
<div class="w3-sidebar w3-bar-block" style="width:25%;right:0">
    <h5 class="w3-bar-item">Tutorial Rooms Options:</h5>
    <h6>SBS:</h6>
    <a href="#" class="w3-bar-item w3-button"> TR1-TR8</a>
    <a href="#" class="w3-bar-item w3-button">TR102-TR121</a>
    <h6>NIE2 </h6>
    <a href="#" class="w3-bar-item w3-button">TR201-TR216</a>
    <h6>NIE5 </h6>
    <a href="#" class="w3-bar-item w3-button">TR501-TR508</a>
    <h6>NIE7 </h6>
    <a href="#" class="w3-bar-item w3-button">TR701-TR722</a>
  </div>
  
  <div style="margin-right:20%">
    <img src="https://gothere.sg/maps/staticmap?sensor=false&size=256x256&zoom=17&center=1.343185,103.681936&markers=1.343185,103.681936,red" 
    alt="sample heat map" 
    class="rounded mx-auto d-block" >
  <!--page content-->
{% endblock %}